<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="ecardController">

  <div class="OneContainer">
  Player 1
    <div class="OneHand" ng-repeat="pOne in playOneCards track by $index" ng-hide="pOne.hide">
      <div class="OneCard"  ng-click="oneClicked(pOne, $index)">{{pOne.card}}</div>
    </div>
  </div>

  <div class="TwoContainer">
  Player 2
    <div class="TwoHand" ng-repeat="pTwo in playTwoCards track by $index" ng-hide="pTwo.hide">
      <div class="TwoCard" ng-click="twoClicked(pTwo, $index)">{{pTwo.card}}</div>
    </div>
  </div>

  </body>


</html>