h3.title {
  width: 1px;
}

.Citizen{
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Citizen.png");
}

.Emperor {
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Emperor.png");
}

.Slave {
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Slave.png");
}


.slider{
  padding-top:400px;
}