body {
  color: #837A75;
  background-color: #F2FBE0;
}

h3.title {
  width: 1px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 20px;
  text-align: center;
}
/*.Citizen{
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Citizen.png");
}

.Emperor {
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Emperor.png");
}

.Slave {
  float: left;
  height: 270px;
  width: 205px;
  background-image: url("../style/Slave.png");
}*/
.jumbotron {
  background-color: #ACC18A;
  color: #605B56;
}

.cards {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.chat {
  display: inline-block;
  margin-top:15px;
}
.chatBar {
  border: 1px solid #837A75;
  border-bottom-color: transparent;
  height: 25px;
  text-align: center;
  width: 250px;
}

.chatBox {
  overflow: auto;
  width: 250px;
  height: 300px;
  border: 1px solid #837A75;
}

.chatMessage {
  padding-left: 5px;
  border-radius: 25px;
  text-align: left;
  max-width: 250px;
  background-color: #DAFEB7;
}

.roundCounter{
  height: 60px;
  width: 350px;
}


.roundCounter .scoreBar{
  background: #837A75;
  height: 5px;
  width: 350px;
}

.submitForm input {
  border: 1px solid #837A75;
  border-top-color: transparent;
  height: 35px;
  width: 250px;
}
.p2score {
 padding-top: 6px;
}
